@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
  font-family: Inter, system-ui, Arial, sans-serif;
}
.card {
  @apply transition-transform duration-300 hover:scale-[1.05];
}
.text-primary{
  @apply text-slate-600
}
.text-secondary{
  @apply text-white
}

.dark {
  --tw-bg-opacity: 1;
  background-color: #0f172a; /* slate-900 */
  color: #f1f5f9; /* slate-100 */
}

